<div class="w-50 mx-auto py-4">
  <h4>Register Now :</h4>

  <div  *ngIf="apiError" class="alert alert-danger"> {{apiError}}</div>

  <form (ngSubmit)=" handleRegister(registerForm)" [formGroup]="registerForm">


    <label for="name">name :</label>
    <input formControlName="name" type="text" class="form-control mb-2" id="name" />
    <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched"  class="alert alert-danger">
      <p  *ngIf="registerForm.get('name')?.getError('minlength')" class="mb-0"> Name mimLength  is 3 </p>
      <p  *ngIf="registerForm.get('name')?.getError('maxlength')" class="mb-0"> Name maxLength  is 10 </p>
      <p  *ngIf="registerForm.get('name')?.getError('required')" class="mb-0"> Name is Required </p>
    
    </div>
    
    <label for="email">email :</label>
    <input formControlName="email" type="email" class="form-control mb-2" id="email" />
    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched "  class="alert alert-danger" >
      <p *ngIf="registerForm.get('email')?.getError('required')" class="mb-0"> Email Required</p>
      <p *ngIf="registerForm.get('email')?.getError('email')"  class="mb-0">Emai invalid For Example test123&#64;gmial.com</p>

    </div>

    <label for="password">password :</label>
    <input formControlName="password" type="password" class="form-control mb-2" id="password" />
    <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
      <p class="mb-0" *ngIf="registerForm.get('password')?.getError('required')"> Password Required </p>
      <p class="mb-0" *ngIf="registerForm.get('password')?.getError('pattern')"> Password must statr with uper case and contain 5 to 10 character </p>
    </div>



    <label for="rePassword">rePassword :</label>
    <input formControlName="rePassword" type="password" class="form-control mb-2" id="rePassword" />
    <div class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
      <p class="mb-0" *ngIf="registerForm.get('rePassword')?.getError('required')"> Password Required </p>
      <p class="mb-0" *ngIf="registerForm.get('rePassword')?.getError('pattern')"> Password must statr with uper case and contain 5 to 10 character </p>
    </div>
 
    <label for="phone">phone :</label>
    <input formControlName="phone" type="tel" class="form-control mb-2" id="phone" />
    <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
      <p class="mb-0" *ngIf="registerForm.get('phone')?.getError('required')"> Phone Required </p>
      <p class="mb-0" *ngIf="registerForm.get('phone')?.getError('pattern')"> Enter egyption phone number </p>
    </div>

    <button  [disabled]="registerForm.invalid" type="submit" class="btn btn-info" > 
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading" class="px-2">register</span>
    
    </button>    
  </form>
</div>
  











